*{
  box-sizing: border-box;
  font-family: "open sans"
}

/*.body{
  margin: 0;
  padding: 0;
}*/

.container{
  position: relative;
  width: 1300px
  margin: 0 auto;
}

.photo{
  /*position:relative;*/
}

header {
  /*for absolute children*/
  position: relative;
  height: 523px;
  background-image: url(http://unsplash.it/1300/523);
}

header:before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 97, 172, 0.8);
}

nav{
  /*use position relative to keep it in the flow of the document*/
  position: relative;
  padding-left: 102px;
  padding-top: 24px;
}

.main-nav{
  font-family: "Oswald", sans-serif;
  display: flex;
  position: absolute;
  top: 18px;
  right: 172px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.main-nav-about{
  font-family: "oswald";
}

.main-nav-search{
  padding-left: 15px;
  font-family: "oswald";
}

/*http://stackoverflow.com/questions/3433641/flipping-inverting-mirroring-text-using-css-only*/
.fa-search{
  margin-top: 4px;
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;
  padd
}

nav li{
  display: inline-block;
  vertical-align: middle;
}

.brand{
  padding-left: 40px;
  margin-top: -13px;
  display: flex;
  align-items: center;
  position: absolute;
}

.logo{
  /*vertical-align: middle;*/
  display: inline-block;
  position: relative;
}

.company-name {
  /*vertical-align: middle;*/
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 13px;
}

h1{
  /*font-family: Need to place the correct one!*/
  color: white;
  margin-top: 169px;
  margin-bottom: 0;
  font-size: 97px;
  text-transform: uppercase;
  font-family: "open sans"

}

h3{
  margin-top: -14px;
  font-family: "open sans";
  font-size: 15.2px;
  padding-top: 2px;
  padding-right: 5px;
}

header h1, header h3{
  position: relative;
  text-align: center;
}

.mbody{
  width: 975px;
  position: relative;
  align-self: center;
  margin: 0 auto;
}

.left{
  width: 65%;
  float: left;
  position: relative;
  padding-top: 62px;
}

.left-title{
  text-transform: uppercase;
  font-size: 63px;
  font-family: "oswald";
  display: inline-block;
  line-height: 114%;
}
.caption{
  display: flex;
  align-items: center;
  margin: 5px;
}

.left-title-profile{
  float: left;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.left-name{
  float: left;
  display: inline-block;
  font-size: 12.5px;
  padding-left: 8px;
  padding-top: 4px;
  color: #106DB3;
}

.on{
  float: left;
  display: inline-block;
  padding-left: 14px;
  padding-top: 5px;
  font-size: 13px;
  color: #A3B3BF;
}

.date-time{
  float: left;
  display: inline-block;
  padding-left: 4px;
  padding-top: 4px;
  font-size: 13px;
  color: #A3B3BF
}

.left-copy{
  float: left;
  margin-top: 14px;
  line-height: 26px;
  font-size: 15px;
  word-spacing: 2px;
  margin-left: 1px;
  color: #5E686F;
  position: relative;
}

.p2{
  padding-top: 11.5px;
}

.u-chic{
  color: #A3B3BF;
}

.quotes{
  text-transform: uppercase;
  font-size: 27px;
  margin-left: 6px;
  padding-top: 23px;
  padding-left: 18px;
  border-left: 2px solid #D3D3D3;
  border-right-color: 1px;
  padding-top: 19px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.p-hyperlink{
  text-decoration: underline;
  color: #0F6DB3;
}

.p4{
  margin-top: 28px;
  padding-left: 1px;
}

.buttons{
  display: flex;
  padding-left: 4px;
  padding-top: 4px;
}

.read-comments{
  width: 158px;
  height: 30px;
  background-color: #A3B3BF;
  position: relative;
}

.fa-comment{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  padding-top: 7px;
  padding-left: 9px;
  color: white;
  width: 33px;
  height: 30px;
  background-color: #5E686F;
  position: relative
}

.read-comments-text{
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: white;
  padding-left: 9px;
  margin-top: 0px;
}

.read-later{
  width: 128px;
  height: 30px;
  background-color: #A3B3BF;
  position: relative;
  margin-left: 10px;
}

.fa-cloud-upload{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  padding-top: 7px;
  padding-left: 9px;
  color: white;
  width: 33px;
  height: 30px;
  background-color: #5E686F;
  position: relative
}

.read-later-text{
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: white;
  padding-left: 9px;
  margin-top: 0px;
}

.share{
  width: 154px;
  height: 30px;
  background-color: #106DB3;
  position: relative;
  margin-left: 10px;
}

.fa-share-square-o{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  padding-top: 7px;
  padding-left: 9px;
  color: white;
  width: 33px;
  height: 30px;
  background-color: #083452;
  position: relative
}

.read-share{
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: white;
  padding-left: 9px;
  margin-top: 0px;
}

.right{
  padding-top: 30px;
  width: 28.5%;
  float: right;
  position: relative;
}

.right-profile{
  width: 84px;
  position: relative;
  align-self: center;
  margin: 0 auto;
}

.right-profile-photo{
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-top: 54px;
}

.right-profile-name{
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  color: #106DB3;
  padding-top: 6px;
  padding-left: 9px;
}

.right-social-media{
  text-align: center;
  padding-top: 0px;
  font-size: 14px;
  padding-left: 12px;
  color: #A3B3BF;
}

.right-image{
  float: right;
  margin-top: 38px;
}

.caption-under-profile {
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: 6px;
  font-size: 13px;
  margin-right: -2px;
  text-decoration: underline;
  color: #BAC6CF;
}

.sidebar-copy{
  margin-top: 9px;
  display: inline-block;
}

.sidebar-heading{
  font-family: "open sans";
  text-transform: uppercase;
  text-emphasis: none;
  display: inline-block;
  position: relative;
  margin-top: 17px;
  margin-bottom: 0;
  font-family: "oswald";
  font-size: 18px;
  margin-left: 3px;
  color: #106DB3;
}

.sidebar-text{
  margin-top: 4px;
  font-size: 13px;
  line-height: 24px;
  color: #A3B3BF;
  margin-left: 2px;
  clear: both;
}

.footer{
  /*width: 1300px
  margin: 0 auto;*/
}

.footer-title{
  text-align: center;
  /* position: relative; */
  font-size: 63px;
  font-family: "oswald";
  text-transform: uppercase;
  border-top: 2px solid #E1E7EA;
  margin-top: 66px;
  padding-top: 25px;
  color: #083452;
  margin-bottom: 29px;
}

.clearfix:after {
  clear: both;
  content:'';
  display: block;
}

.footerone, .footertwo, .footerthree, .footerfour{
  float: left;
  margin: 0;
  position: relative;
  height: 330;
  width: 325;
  /*background-image: url(http://unsplash.it/325/330);*/
  font-family: "oswald"
}

.footerone:before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 97, 172, 0.8);
}

/*http://stackoverflow.com/questions/5777210/how-to-write-hover-condition-for-abefore-and-aafter*/
.footerone:hover:before{
  background-color: transparent;
  color: white;
}

.footerthree:before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: rgba(0, 97, 172, 0.8);
}

.footerthree:hover:before{
  background-color: transparent;
  color: white;
}

.footerfour:before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: rgba(0, 97, 172, 0.8);
}

.footerfour:hover:before{
  background-color: transparent;
  color: white;
}

.footerone-text{
  font-size: 29px;
  color: #083452;
  position: absolute;
  bottom: 13px;
  font-family: "oswald";
  padding-left: 17px;
  text-transform: uppercase;
}

.footertwo-text{
  font-size: 29px;
  color: white;
  position: absolute;
  bottom: 13px;
  font-family: "oswald";
  padding-left: 17px;
  text-transform: uppercase;
}
.footerthree-text{
  font-size: 33px;
  color: #083452;
  position: absolute;
  bottom: 21px;
  line-height: 1;
  font-family: "oswald";
  padding-left: 17px;
  text-transform: uppercase;
}
.footerfour-text{
  font-size: 29px;
  color: #083452;
  position: absolute;
  bottom: 13px;
  font-family: "oswald";
  padding-left: 17px;
  text-transform: uppercase;
}

.bottom-bar{
  width: 1300px;
  height: 97px;
  margin-top: -5px;
  display: inline-flex;
  position: relative;
  background-color: #083452;
}

.nav-bar{
  position:relative;
  display: flex;
  color: #A2B3BF;
  align-items: center;
  margin-top: 10px;
}

.tiy{
  height: 32px;
  padding-left: 164px;
  margin-top: -16px;
}

.tag-line{
  /*float: right;*/
  padding-left: 10px;
  padding-bottom: 12px;
  font-size: 14px;
  word-spacing: -3px;}

.nav-items{
  padding-left: 297px;
  padding-bottom: 11px;
  font-size: 14px;
}

.nav-items:hover {
  color: #838b8b;
}

/*http://stackoverflow.com/questions/6008324/fade-effect-on-link-hover*/
.hyper-text{
/* First we need to help some browsers along for this to work.
   Just because a vendor prefix is there, doesn't mean it will
   work in a browser made by that vendor either, it's just for
   future-proofing purposes I guess. */
-o-transition:color .2s ease-out, background 2s ease-in;
-ms-transition:color .2s ease-out, background 2s ease-in;
-moz-transition:color .2s ease-out, background 2s ease-in;
-webkit-transition:color .2s ease-out, background 2s ease-in;
/* ...and now for the proper property */
transition:color .2s ease-out, background 2s ease-in;
}
a:hover, i:hover {
  color: #838b8b;
}

.main-nav-about:hover {
  color: #838b8b;
}

.main-nav-search:hover {
  color: #838b8b;
}

.read-comments-text:hover {
  color: #838b8b;
}

.read-later-text:hover{
  color: #838b8b;
}

.read-share:hover {
  color: #838b8b;
}

.right-social-media:hover {
  color: #838b8b;
}
